body{
    margin:0;
    padding: 0;
}
#container{
    position:absolute;
    width:100%;
    margin:0;
    padding:0;
}
#container::after {
  content: "";
  background: url("../static/img/retro-tree.jpg");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position:top;
  position: absolute;
  z-index: -1;
  background-repeat: repeat;
  background-attachment: scroll;
}

ul{
    margin-left:50px;
    margin-right:50px;
    list-style-type: none;
}

li{
    font-size: 20px;
}

a{
    color:#00FF00;
    text-decoration: none;
}

a:visited{
    color:purple;
    text-decoration: none;
}



